*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 20px;
}
#main{
    display: flex;
    flex-direction: column;
}

#header{
    height: 10%;
    width: 100%;
    border: solid black 1px;

}

#content{
    display: flex;
    height: 1000px;
    padding: 100px;
    justify-content: center;
    
}

#mid{
    width: 70%;
    border: solid black 1px;
    position: relative;
    justify-content: center;

}

#imageContainer{
    position: relative;
    display: flex;
    height: 90%;
    border: solid black 1px;
    align-items: center;
    overflow: hidden;
}
.img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 400ms ease-in-out;
}
.active{
    opacity: 1;
}
.arrow{
    position: absolute;
    transform: scale(2);
    opacity: 0.2;
    outline: 1px solid black;
    border: none;
    border-radius: 2px;
    z-index: 2;
}
.arrow:hover{
    background-color: red;
}
#arrowLeft{
    left: 10px;
    top: 50%;
}
#arrowRight{
    right: 10px;
    top: 50%;
}

#markers{
    display: flex;
    height: 10%;
    justify-content: center;
    align-items: center;
}

#markerContent{
width: 30%;
height: 50%;
border: solid black 1px;

}

[data-status]{
    opacity: 1 !important;
}