*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 20px;
}
body{
    height: 100vh;
    background-color: rgb(46, 45, 45);
    overflow: hidden;
}
#main{
    display: flex;
    flex-direction: column;
}

#header{
    height: 10%;
    width: 100%;
    border: solid black 1px;

}

#content{
    display: flex;
    height: 1000px;
    padding: 100px;
    justify-content: center;
    
}

#mid{
    width: 70%;
    position: relative;
    justify-content: center;

}

#imageContainer{
    position: relative;
    display: flex;
    height: 90%;
    border: solid black 1px;
    align-items: center;
    overflow: hidden;
}
.img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 800ms ease-in-out;
}
.active{
    opacity: 1;
}
.arrow{
    position: absolute;
    transform: scale(2);
    opacity: 0.3;
    outline: 1px solid black;
    border: none;
    border-radius: 2px;
    z-index: 2;
    background-color: transparent;

}
.arrow:hover{
    background-color: aliceblue;
}
#arrowLeft{
    left: 30px;
    top: 50%;
}
#arrowRight{
    right: 30px;
    top: 50%;
}

#markers{
    position: absolute;
    display: flex;
    height: 10%;
    justify-content: center;
    align-items: center;
}

#markerContent{
    z-index: 2;
position: absolute;
display: flex;
border: solid black 1px;
justify-content: center;
border-radius: 20px;
bottom: 12%;
left: 40%;
width: 20%;
height: 4%;
opacity: 0.5;
background-color: white;


}
.navDot:hover{
    transform: scale(1.4);
    cursor: pointer;
}
[data-status]{
    opacity: 1 !important;
}
[data-highlight]{
    transform: scale(1.8);
}
